#img-goodhope {
    width: 90%;
    height: auto;
}

#img-halo {
    width: 90%;
    height: auto;
}

#H-names {
    text-align: center;
}
#H-names>p{
  margin-top: 30px;
}

h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.container{
  background-color: rgb(116, 195, 251, 0.1);
}

footer {
  background-color: #73C2FB;
  width: 100vw;
  margin: 10px;
  text-align: center;
}
footer>span {
  margin-left: 20px;
}
#contactlink{
  margin: 20px;
  font-weight: bold;
  font-size: large;
}
.navbar-light{
  background-color: #73C2FB;
}
.navbar-nav{
  float: right;
  margin-left: 45vw;
}

.checkout{
  background-color: #73c2fb ;
}
#checkout{
  display: none;
}
.btn{
  text-align: center;
  background-color: #73c2fb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: large;
  margin-right: 7vw;
}

#book{
  margin-left: 30%;
  width: 100px;
}
#patientdetails {
margin-bottom: 10vh;
margin-top: 5vh;
}
.text-center>p{
text-align: justify;
}