.jumbotron {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#img-goodhope {
    width: 90%;
    height: auto;
}

#img-halo {
    width: 90%;
    height: auto;
}

#H-names {
    text-align: center;
    line-height: 1.5;
}

h3 {
    text-align: center;
    font-weight: bold;
}